<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Juan Díaz</a>
                    <p class="footer-text">
                        I am passionate about technology and its ability to transform society, with a strong focus on Back-end development using Java. I consider myself curious, adaptable, and highly motivated to keep learning, always aiming to deliver value to the projects and teams I am part of.
                    </p>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Quick Links</h3>
                    <div class="footer-links">
                        <a href="#home" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Home
                        </a>
                        <a href="#about" class="footer-link">
                            <i class="fas fa-chevron-right"></i> About
                        </a>
                        <a href="#projects" class="footer-link">
                            <i class="fas fa-chevron-right"></i> My Work
                        </a>
                        <a href="#experience" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Experience
                        </a>
                        <a href="#studies" class="footer-link">
                            <i class="fas fa-chevron-right"></i> Studies
                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Social Links</h3>
                    <div class="footer-links">
                        <a href="https://github.com/juandica21" class="footer-link">
                            <i class="fas fa-chevron-right"></i> GitHub
                        </a>
                        <a href="https://www.linkedin.com/in/juan-diaz-canas" class="footer-link">
                            <i class="fas fa-chevron-right"></i> LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Juan Díaz. All rights reserved.</p>
            </div>
        </div>
    </footer>
</th:block>
</html>