<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">Explore some of my recent projects</p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/todo_app.png" alt="Project1">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Spring Test</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MariaDB</span>
                            <span class="project-tag">JWT</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">TODO APP </h3>
                        <p class="project-description">
                            This is a TODO_APP for a technical test, built with Spring Boot, JWT for authentication, and Swagger for API documentation.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/juandica21/todo_app" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/assistant.png" alt="Project2">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring AI</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">CSS</span>
                            <span class="project-tag">JavaScript</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Research Assistant</h3>
                        <p class="project-description">
                            This is a local Chrome extension that can help you summarize or explain anything you want thanks to Gemini AI.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/juandica21/research_assistant" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/extension_email.png" alt="Project3">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring AI</span>
                            <span class="project-tag">JavaScript</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">MaterialUI</span>
                            <span class="project-tag">Axios</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Email Replay Generator Assistant</h3>
                        <p class="project-description">
                            This Chrome extension, featuring a sleek React interface, helps you respond to emails quickly and efficiently using SpringAI’s AI-powered intelligence. Save time and boost productivity with smart, instant replies at your fingertips.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/juandica21/mail_assistant" class="project-link" target="_blank">
                                <i class="fab fa-github"></i>View Code
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>