<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="studies-section">
    <section class="section studies" id="studies">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Studies</h2>
            </div>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">September 2025 - Present</div>
                        <div class="timeline-title">STUCOM</div>
                        <h4 class="timeline-subtitle">CE IA & BigData</h4>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">September 2023 - June 2025</div>
                        <div class="timeline-title">ITIC BCN</div>
                        <h4 class="timeline-subtitle">CFGS DAM</h4>
                        <p class="timeline-description">
                            At the CFGS, I developed a mobile app that uses artificial intelligence to recommend recipes based on the ingredients the user has available. To do so, I designed a REST API that connects the app to an AI model deployed on AWS and cloud storage. Additionally, the app integrates external APIs to enrich the nutritional information and optimize the user experience.
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">September 2021 - June 2023</div>
                        <h3 class="timeline-title">SA-FA Horta</h3>
                        <h4 class="timeline-subtitle">Bachillerato</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>